*   {
  box-sizing: border-box;
  padding: .25rem;
}


nav {
  position: relative;
  top: -80px;
  height: 20px;

}

  ul li {
  float: right;
  background-color:#f0f0f0;
  list-style: none;
  width: 100%;
  font-family: 'Varela', sans-serif;
  font-size: 1.5rem;
  position: relative;
  padding: .25rem;

}

  .hero-image {
    background-image: url("images/cactus.jpg");
    width: 100%;
    height: 375px;
    margin: 0 auto;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clear: both;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 8%;
    color: white;
  }

  h1 {
    text-align: center;
    font-family: 'Varela', sans-serif;
    font-size: 4rem;
  }

  h2 {
    text-align: center;
    font-family: 'Varela', sans-serif;
    font-size: 3rem;
    text-decoration: underline;

  }

  h3 {
    text-align: center;
    font-family: 'Varela', sans-serif;
    font-size: 1.5rem;

  }

  p {
    font-family: 'Varela', sans-serif;

  }

  aside {
    position: relative;
    top: 60px;
    display: flex;
    align-items: center;
    height: 15%;

  }

  .introduction {
    font-size: 2rem;
  }

  .introduction-second-paragraph {
    font-size: 1.5rem;
  }

  i {
   font-size: 50px;
   text-align: center;

 }

  section {
    overflow: auto;
    position: relative;
    top: 30px;
  }


  section > h1 {
    text-align: center;
  }

  aside i:hover {
    font-size: 70px;
    transition-delay: 0s;
    transition-duration: 3s;

  }

  .flex-item {
    padding: 2rem;
    font-size: 1rem;
    width: 25rem;
    height: 25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
    opacity: .7;

  }

  .flex-item:hover {
    -webkit-transform: rotateZ(-6deg);
    -ms-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
    opacity: 1;
  }

  .flex-container {
    position: relative;
    top: 10px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr; /* Three columns, one three times as wide as the others */
    grid-template-rows: 150px; /* Three rows, two with explicit widths */
    padding: 1rem;
    clear: both;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

  }

  .flex-item-1 {background-color: #e4d1d1; border: 1px black solid; margin: 1rem; float: left;}
  .flex-item-2 {background-color: #b9b0b0; border: 1px black solid; margin: 1rem; float: left;}
  .flex-item-3 {background-color: #d9ecd0; border: 1px black solid; margin: 1rem; float: left;}
  .flex-item-4 {background-color: #77a8a8; border: 1px black solid; margin: 1rem; float: left;}
  .flex-item-5 {background-color: #f4a688; border: 1px black solid; margin: 1rem; float: left;}
  .flex-item-6 {background-color: #b9b0b0; border: 1px black solid; margin: 1rem; float: left;}
  .flex-item-7 {background-color: #d9ecd0; border: 1px black solid; margin: 1rem; float: left;}
  .flex-item-8 {background-color: #77a8a8; border: 1px black solid; margin: 1rem; float: left; overflow: auto;}


.flex-container2 {
  clear:both;

}

.flex-container-3 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio-page {
  position: relative;
  top: 1px;
  overflow: auto;
  margin: 0 auto;
}

footer {
  margin-top: 150px;
  background-color: rgb(77, 77, 77);
  padding: 10px;
  text-align: center;
  color: white;
  overflow: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

#portfolio-content > p {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

#about-me-photo{
  opacity:.70;
}

#about-me-photo:hover {
  opacity:1

}
